body {
  padding: 0;
  margin: 0;
  background: #6CBADC;
  font-family: 'Ubuntu', sans-serif;
}
/*--- navigation bar ---*/
.navbar {
  background:#fff;
}
.nav-link,
.navbar-brand {
  color: #6CBADC;
  cursor: pointer;
  font-weight: bold;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}
/*header style*/
.header {
  background-image: url('../images/header-background.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}
.overlay{
 position: absolute;
 min-height: 100%;
 min-width: 100%;
 left: 0;
 top: 0;
 background: rgba(0, 0, 0, 0.6);
 opacity: 0.7;
}
.description {
  left: 50%;
  position: absolute;
  top: 55%;
  transform: translate(-50%, -55%);
  text-align: center;
}
.description h1 {
  color: #6CBADC;
  text-transform: uppercase;
  font-weight: bold;
}
.description p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
}
.description button {
  border:1px solid #000;
  background:#6CBADC;
  margin-top: : 50%;
  border-radius: 0;
  color:#fff;
}
.description button:hover {
  border:1px solid #fff;
  opacity: 0.7;
  background:#fff;
  color:#000;
}
.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}
.testimonials-clean {
  color:#313437;
  background-color:#eef4f7;
}

.testimonials-clean p {

}

.testimonials-clean h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .testimonials-clean h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.testimonials-clean .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.testimonials-clean .intro p {
  margin-bottom:0;
}

.testimonials-clean .people {
  padding:50px 0 20px;
}

.testimonials-clean .item {
  margin-bottom:32px;
}

@media (min-width:768px) {
  .testimonials-clean .item {
    height:220px;
  }
}

.testimonials-clean .item .box {
  padding:30px;
  background-color:#fff;
  position:relative;
}

.testimonials-clean .item .box:after {
  content:'';
  position:absolute;
  left:30px;
  bottom:-24px;
  width:0;
  height:0;
  border:15px solid transparent;
  border-width:12px 15px;
  border-top-color:#fff;
}

.testimonials-clean .item .author {
  margin-top:28px;
  padding-left:25px;
}

.testimonials-clean .item .name {
  font-weight:bold;
  margin-bottom:2px;
  color:inherit;
}

.testimonials-clean .item .title {
  font-size:13px;
  color:#9da9ae;
}

.testimonials-clean .item .description {
  font-size:15px;
  margin-bottom:0;
}

.testimonials-clean .item img {
  max-width:40px;
  float:left;
  margin-right:12px;
  margin-top:-5px;
}
.about-clean{
 background-color: #f2f6e9;
}
.line-salt{
  margin-bottom: 5em;
}
.counter{
 font-size: 100%;

}
.counter-2{
 font-size: 100%;
}
.counter-3{
 font-size: 100%;

}.counter-4{
 font-size: 100%;

}
.page-footer {
  background-color: #222;
  color: #ccc;
  padding: 60px 0 30px;
}
.footer-copyright {
  color: #666;
  padding: 40px 0;
}
.line-text{
  margin-bottom: 3em;
}
.line-salt2{
  margin-top: 5em;
}
section {
    padding-top: 4rem;
    padding-bottom: 5rem;
    background-color: #f1f4fa;
}
.wrap {
    display: flex;
    background: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

.wrap:hover {
    background: linear-gradient(100deg,#6CBADC 0%,#3CBADC 100%);
    color: white;
}

.ico-wrap {
    margin: auto;
}

.mbr-iconfont {
    font-size: 4.5rem !important;
    color: #313131;
    margin: 1rem;
    padding-right: 1rem;
}
.vcenter {
    margin: auto;
}

.mbr-section-title3 {
    text-align: left;
}
h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.display-5 {
    font-size: 1.4rem;
}
.mbr-bold {
    font-weight: 700;
}

 p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 25px;
}
.display-6 {
    font-size: 1re
  }
.title{
  font-size:20px;
  max-width:500px;
  margin:0 auto;
  font-weight: bold;
  color:inherit;
}
.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.masthead {
  height: 25vh;
  min-height: 400px;
  background-image: url('../images/services.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
a{
  color: #000;
}